<%= link_to root_path, class: 'logo', method: :get do %>
  <div>
    <%= image_tag "logo.png" %>
  </div>
<% end %>
<br>
        
        
<h3>門司港</h3>
<p>〒801-0852 福岡県北九州市門司区港町</p>
<img src="mojiko.png" width="400" height="680">


<%= link_to "この観光地を含むツアーを検索" ,root_path %>