<div class = 'logo'>
    <%= image_tag 'logo.png' %>
</div>

<div id="humberger">
  <div></div>
  <div></div>
  <div></div>
</div>

<div>
  <hr class="hr1">
</div>


<div class = 'map'>
    <%= image_tag 'map.png' %>
    <p>筑後</p>
    <p1>福岡</p1>
    <p2>北九州</p2>
    <p3>筑豊</p3>
</div>
