/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo img{
    width: 210px;
    margin-top: 14px;
}

#humberger {
  float: right;
  position: relative;
  height: 46px;
  width: 46px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #444;
  border-radius: 4px;
}
#humberger div {
  position: absolute;
  left: 7px;
  height: 2px;
  width: 28px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
  bottom: 30px;
}
#humberger div:nth-of-type(2) {
  bottom: 20px;
}
#humberger div:nth-of-type(3) {
  bottom: 10px;
}

.map img{
  width: 100%;
  text-align: center;
  width:600px;
  hight: 600px;
  position: absolute;
  top:50%;
  left:150%;
  transform: translate(-50%,-50%);
}


.map{
    width:600px;
    height: 600px;
    position: relative;
}



/*p{*/
/*    position: absolute;*/
/*    top:65%;*/
/*    left:155%;*/
/*    transform: translate(-50%,-50%);*/
/*    padding:0;*/
/*    margin:0;*/
/*    font-size:40px;*/
/*    color: red;*/
/*    border: solid 1px #454545;*/

p0{
    position: absolute;
    top:65%;
    left:155%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size:40px;
    color: red;
    border: solid 1px #454545;
}
    
/*}*/

p1{
  position: absolute;
    top:30%;
    left:145%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size:40px;
    color: blue;
    border: solid 1px #454545;
}


p2{
  position: absolute;
    top:30%;
    left:177%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size:40px;
    color: yellow;
    border: solid 1px #454545;
}


p3{
  position: absolute;
    top:40%;
    left:160%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size:40px;
    color: green;
    border: solid 1px #454545;
}

.hr1{
  border-top: 1px solid #000;
}

.search .text{
  margin: 0;
  padding: 0.5em;
  width: 30%;
  height: 60px;
  color: #aaa;
  border: solid 1px #aaa;
  border-radius: 2px;
  position: relative;
  text-align: center;
}
.search .button{
  margin: 0;
  padding: 0.5em;
  color: #fff;
  height: 48px;
  width: 68px;
  border: 0;
  background: skyblue;
  border-radius: 4px;
  position: relative;
}

.age{
 
}