<%= link_to root_path, class: 'logo', method: :get do %>
  <div>
    <%= image_tag "logo.png" %>
  </div>
<% end %>
<hr>


<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">

<h3>
  <%= @tourist.uid %></h3>
  さんのマイページ
</srtong>
<br>
<br>

<%= link_to '予約一覧へ', reservations_record_path(tourist_id: @tourist.id) %>

