<%= link_to root_path, class: 'logo', method: :get do %>
  <div>
    <%= image_tag "logo.png" %>
  </div>
<% end %>
<hr>

<srtong>
  <%= @tourist.uid %>
  さんのマイページ
</srtong>
<br>
<br>

<h4>予約履歴</h4>

<!--reservation_idから予約を表示する-->