<%= link_to root_path, class: 'logo', method: :get do %>
  <div>
    <%= image_tag "logo.png" %>
  </div>
<% end %>
<hr>

<h2>ご予約ありがとうございます。</h2>
<%= link_to "トップへ", root_path %>
<% @tourist.each do |e| %>
    <%= link_to "マイページへ", "/reservation/#{e.id}" %>
<% end %>